/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 10px;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
a {
    text-decoration: none;
    color: black;
    color: rgb(47, 105, 199);
  }